.subform-tabs {
	display: -ms-flexbox;
	display: flex;
}

.subform-tabs>.nav.nav-tabs {
	float: none;
	margin-right: 0;
	margin-bottom: 0;
}

.subform-tabs>.nav.nav-tabs>li.active a {
	background-color: #f8f8f8;
}

.subform-tabs>.tab-content {
	-ms-flex: 1;
	flex: 1;
	min-height: 100%;
}

.subform-tabs>.tab-content>.tab-pane {
	box-sizing: border-box;
	min-height: 100%;
	padding: 18px 18px 0;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-left-width: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.subform-tabs-group .control-group:last-of-type {
	margin-bottom: 18px !important;
}